<div class="title">
  <span>Giphy demo</span>
  <hr />

  <input
    class="text-input"
    type="text"
    #input="ngModel"
    [(ngModel)]="search_text"
    placeholder="Search..."
  />
</div>

<div class="images">
  <div class="gif-container" *ngIf="gifs.length > 0">
    <span>Gifs</span>
    <hr />
    <div class="gif" *ngFor="let gif of gifs">
      <img src="{{ gif }}" alt="gif" />
    </div>
  </div>
  <div class="sticker-container" *ngIf="stickers.length > 0">
    <span>Stickers</span>
    <hr />
    <div class="sticker" *ngFor="let sticker of stickers">
      <img src="{{ sticker }}" alt="gif" />
    </div>
  </div>
</div>
